<!-- Page Header Start -->
 <article>
  <div class="py-4 bg-blue-400"></div>
  <header>
    <div class="relative py-20 mb-5">
      <!-- Video de fondo -->
      <video autoplay loop muted playsinline class="absolute inset-0 w-full h-full object-cover">
        <source src="fabrica_garvey.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      <!-- Overlay oscuro para mejorar la legibilidad -->
      <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    
      <div class="relative container mx-auto px-4 text-center text-garvey-amarillo">
        <h1 class="text-5xl font-bold mb-4 animate-fadeIn">Nosotros</h1>
        <nav aria-label="breadcrumb" class="animate-fadeIn delay-200">
          <ol class="flex justify-center space-x-2 text-lg">
            <li><a routerLink="/" class="hover:underline hover:bg-blue-700 hover:bg-opacity-50 px-1 py-1 rounded w-full">Inicio</a></li>
            <li>/</li>
            <li class="">Sección</li>
            <li>/</li>
            <li><a routerLink="/nosotros" class="hover:underline hover:bg-blue-700 hover:bg-opacity-50 px-1 py-1 rounded w-full">Nosotros</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </header>
 </article>
<!-- Page Header End -->

<section class="text-gray-600 body-font">
    <div class="container px-5 pt-12 pb-4 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-2xl mb-2 text-gray-900">Nuestra historia</h1>
          <div class="leading-relaxed">En <strong>MDQ QUÍMICA GARVEY S.A.</strong>, nos especializamos en la elaboración, distribución y asesoramiento técnico de productos químicos y de laboratorio para diversas industrias, incluyendo la alimenticia, pesquera, metalúrgica, farmacéutica, energética, veterinaria e higiene institucional.
            <br>
            Nuestra historia comienza en 1998 como una sociedad de hecho, con el propósito de atender una creciente demanda en la Ciudad de Buenos Aires y la provincia de Buenos Aires, expandiéndonos progresivamente a la región de Mar y Sierra. En el año 2000, consolidamos nuestro crecimiento transformándonos en Sociedad Anónima, y en 2001 dimos un paso estratégico al obtener un terreno en el Parque Industrial General Savio para la construcción de nuestra planta modelo.
            <br>
            A lo largo de más de dos décadas, hemos superado desafíos y seguimos fortaleciendo nuestra presencia en el mercado. Contamos con la distribución exclusiva de diversas empresas del rubro, abarcando el sur del país, la región del Noroeste Argentino y el sudeste de la provincia de Buenos Aires.
          </div>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" ngSrc="fabrica_garvey_2.webp" alt="fabrica garvey" width="400" height="200">
      </div>
    </div>
  </section>
  <app-about></app-about>
  <app-facts></app-facts>
  <noscript>This is the about us component</noscript>