<!-- aqui va el Hero -->
 <section *ngIf="isDisplayed" [@container] class="overflow-hidden px-4 md:px-12">
   <article [@enterExitLeft] aria-label="publicidad productos" class="text-gray-600 body-font">
       <div class="container mx-auto flex px-5 py-12 md:flex-row flex-col items-center transition duration-500 ease-in-out will-change-transform hover:scale-[1.03] origin-center max-w-7xl">
         <div class="lg:flex-grow md:w-1/2 lg:pr-20 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
           <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">LIMPIEZA
             <br class="lg:inline-block block sm:inline">Para el Hogar y la Industria
           </h1>
           <p class="mb-8 leading-relaxed">"Desarrollamos soluciones eficaces para la limpieza del hogar y la industria, con productos innovadores, seguros y de alta calidad que eliminan suciedad y bacterias, garantizando espacios más saludables y eficientes."</p>
           <div class="flex justify-center">
             <button class="inline-flex hover:bg-[#2E3191] will-change-transform hover:bg-opacity-50 hover:text-black min-h-min border-0 py-2 px-6 focus:outline-none rounded transition duration-500">
               <a routerLink="/productos" routerLinkActive="active" ariaCurrentWhenActive="page" class=" text-base underline">Mas info aquí &rarr;</a>
             </button>
           </div>
         </div>
         <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 flex justify-center md:justify-start h-full">
           <img class="object-cover object-center rounded h-full max-h-[400px] w-auto" alt="hero" ngSrc="limpieza.webp" width="400" height="200">
         </div>
       </div>
     </article>
   <article [@enterExitRight] aria-label="publicidad productos" class="text-gray-600 body-font">
       <div class="container mx-auto flex px-5 py-12 md:flex-row flex-col items-center transition duration-500 ease-in-out will-change-transform hover:scale-[1.03] origin-center">
         <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0 flex justify-center md:justify-start h-full">
           <img ngSrc="aditivos.webp" width="400" height="200" class="object-cover object-center rounded h-full max-h-[400px] w-auto" alt="hero"> 
         </div>
         <div class="lg:flex-grow md:w-1/2 lg:pl-12 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
           <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">ADITIVOS
             <br class="lg:inline-block block sm:inline">Innovación para productos alimenticios
           </h1>
           <p class="mb-8 leading-relaxed">"Ofrecemos aditivos alimentarios certificados que mejoran la calidad, el sabor y la conservación de alimentos. Innovamos con soluciones seguras y sostenibles, adaptadas a los estándares más exigentes del sector."</p>
           <div class="flex justify-center">
             <button class="inline-flex hover:bg-[#2E3191] will-change-transform hover:bg-opacity-50 hover:text-black min-h-min  border-0 py-2 px-6 focus:outline-none rounded transition duration-500">
               <a routerLink="/productos" routerLinkActive="active" ariaCurrentWhenActive="page" class=" text-base underline">Mas info aquí &rarr;</a>
             </button>
           </div>
         </div>
       </div>
     </article>
     <article [@enterExitLeft] aria-label="publicidad productos" class="text-gray-600 body-font">
       <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center transition duration-500 ease-in-out will-change-transform hover:scale-[1.03]  origin-center">
         <div class="lg:flex-grow md:w-1/2 lg:pr-20 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
           <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">INDUSTRIA QUIMICA
             <br class="lg:inline-block block sm:inline">Soluciones para la Industria
           </h1>
           <p class="mb-8 leading-relaxed">"Brindamos soluciones químicas diseñadas para optimizar procesos industriales, con productos personalizados que maximizan la eficiencia y cumplen con normativas internacionales de seguridad y calidad."</p>
           <div class="flex justify-center">
             <button class="inline-flex hover:bg-[#2E3191] will-change-transform hover:bg-opacity-50 hover:text-black min-h-min  border-0 py-2 px-6 focus:outline-none rounded transition duration-500">
               <a routerLink="/productos" routerLinkActive="active" ariaCurrentWhenActive="page" class=" text-base underline">Mas info aquí &rarr;</a>
             </button>
           </div>
         </div>
         <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 flex justify-center md:justify-start h-full">
           <img ngSrc="industria.webp" width="400" height="200" class="object-cover object-center rounded h-full max-h-[400px] w-auto" alt="hero">
         </div>
       </div>
   </article>
 </section>
<!-- aqui termina el Hero -->
<noscript>This is the Hero component</noscript>
