.fixed-button {
    bottom: 4rem; /* Ajusta este valor según sea necesario */
  }
  
  .fixed-button-left {
    left: 4rem; /* Ajusta este valor según sea necesario */
  }
  
  .fixed-button-right {
    right: 4rem; /* Ajusta este valor según sea necesario */
  }