<div class="py-4 bg-blue-400"></div>
<header>
    <div class="relative py-20 mb-5">
      <!-- Video de fondo -->
      <video autoplay loop muted playsinline class="absolute inset-0 w-full h-full object-cover">
        <source src="productos.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      <!-- Overlay oscuro para mejorar la legibilidad -->
      <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    
      <div class="relative container mx-auto px-4 text-center text-[#FEC906]">
        <h1 class="text-5xl font-bold mb-4 animate-fadeIn">Productos</h1>
        <nav aria-label="breadcrumb" class="animate-fadeIn delay-200">
          <ol class="flex justify-center space-x-2 text-lg">
            <li><a routerLink="/" class="hover:underline hover:bg-blue-700 hover:bg-opacity-50 px-1 py-1 rounded w-full">Inicio</a></li>
            <li>/</li>
            <li class="">Sección</li>
            <li>/</li>
            <li><a routerLink="/productos" class="hover:underline hover:bg-blue-700 hover:bg-opacity-50 px-1 py-1 rounded w-full">Productos</a></li>
          </ol>
        </nav>
      </div>
    </div>
</header>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20 bg-gray-200 rounded-lg p-4">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Soluciones para la industria y el hogar</h1>
          <div class="h-1 w-20 bg-blue-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Garvey ofrece productos de limpieza para el hogar e industria, aditivos alimentarios y soluciones químicas para múltiples sectores. Innovamos con calidad y eficiencia para garantizar seguridad, rendimiento y bienestar en cada aplicación. Contamos con productos aprobados por SENASA y habilitados bajo normativa SEDRONAR</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <article class="xl:w-1/4 md:w-1/2 p-4 flex" observeVisibility>
          <div class="bg-gray-200 p-6 rounded-lg flex flex-col h-full transition duration-500 ease-in-out hover:scale-110">
            <img class="h-40 rounded w-full object-cover object-center mb-6" ngSrc="limpieza1.webp" alt="content" width="400" height="200">
            <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font">LIMPIEZA</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Industria y Hogar</h2>
            <p class="leading-relaxed text-base flex-grow">Detergentes y desinfectantes eficaces para un ambiente seguro y libre de contaminantes.</p>
            <div class="flex justify-center mt-1">
              <button class="inline-flex hover:bg-[#2E3191] hover:bg-opacity-50 hover:text-black hover:font-semibold min-h-min border-0 py-2 px-6 focus:outline-none rounded transition duration-500">
                <a routerLink="/limpieza" routerLinkActive="active" ariaCurrentWhenActive="page" class=" text-base underline">Mas info aquí &rarr;</a>
              </button>
            </div>
          </div>
        </article>
        <article class="xl:w-1/4 md:w-1/2 p-4 flex" observeVisibility>
          <div class="bg-gray-200 p-6 rounded-lg flex flex-col h-full transition duration-500 ease-in-out hover:scale-110">
            <img class="h-40 rounded w-full object-cover object-center mb-6" ngSrc="pall_garvey_1.webp" alt="content" width="400" height="200">
            <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font">ADITIVOS ALIMENTARIOS</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Suplementos para la industria</h2>
            <p class="leading-relaxed text-base flex-grow">Ingredientes seguros y funcionales que mejoran la calidad y conservación de los alimentos.</p>
            <div class="flex justify-center mt-1">
              <button class="inline-flex hover:bg-[#2E3191] hover:bg-opacity-50 hover:text-black hover:font-semibold min-h-min border-0 py-2 px-6 focus:outline-none rounded transition duration-500">
                <a routerLink="/aditivos" routerLinkActive="active" ariaCurrentWhenActive="page" class=" text-base underline">Mas info aquí &rarr;</a>
              </button>
            </div>
          </div>
        </article>
        <article class="xl:w-1/4 md:w-1/2 p-4 flex" observeVisibility>
          <div class="bg-gray-200 p-6 rounded-lg flex flex-col h-full transition duration-500 ease-in-out hover:scale-110">
            <img class="h-40 rounded w-full object-cover object-center mb-6" ngSrc="pall_garvey_3.webp" alt="content" width="400" height="200">
            <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font">MATERIA PRIMA</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Para Industria Química</h2>
            <p class="leading-relaxed text-base flex-grow">Materias primas esenciales para procesos industriales con altos estándares de calidad.</p>
            <div class="flex justify-center mt-1">
              <button class="inline-flex hover:bg-[#2E3191] hover:bg-opacity-50 hover:text-black hover:font-semibold min-h-min border-0 py-2 px-6 focus:outline-none rounded transition duration-500">
                <a routerLink="/materia" routerLinkActive="active" ariaCurrentWhenActive="page" class=" text-base underline">Mas info aquí &rarr;</a>
              </button>
            </div>
          </div>
        </article>
        <article class="xl:w-1/4 md:w-1/2 p-4 flex" observeVisibility>
          <div class="bg-gray-200 p-6 rounded-lg flex flex-col h-full transition duration-500 ease-in-out hover:scale-110">
            <img class="h-40 rounded w-full object-cover object-center mb-6" ngSrc="garvey productos1.webp" alt="content" width="400" height="200">
            <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font">PRODUCCIÓN</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Fabricación a Medida</h2>
            <p class="leading-relaxed text-base flex-grow">Garvey ofrece producción para terceros con calidad certificada. Fabricamos con eficiencia, innovación y cumplimiento normativo.</p>
            <div class="flex justify-center mt-1">
              <button class="inline-flex hover:bg-[#2E3191] hover:bg-opacity-50 hover:text-black hover:font-semibold min-h-min border-0 py-2 px-6 focus:outline-none rounded transition duration-500">
                <a routerLink="/produccion" routerLinkActive="active" ariaCurrentWhenActive="page" class=" text-base underline">Mas info aquí &rarr;</a>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  @defer (on viewport) {
  <app-category/>
} @placeholder {
  <p>cargando...</p>
}

