<div observeVisibility class="container mx-auto my-10 px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
      <div
        *ngFor="let fact of facts"
        class="text-center bg-[#2E3191] text-white border border-gray-200 p-6 rounded-lg shadow-md"
      >
        <mat-icon class="icon">{{ fact.icon }}</mat-icon>
        <h1 #counter class="text-5xl font-bold text-[#FEC906]" [attr.data-target]="fact.number">0</h1>
        <span class="text-lg font-semibold">{{ fact.text }}</span>
      </div>
    </div>
  </div>
