<swiper-container class="mySwiper min-h-[20vh]" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" effect="fade">
    <swiper-slide class="flex justify-center items-center">
        <img class="min-h-[20vh] block w-full h-full object-cover" src="carousel-1.webp" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-garvey-amarillo bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">25 años de solida experiencia</h2>
                <p class="text-lg">Proveedores de soluciones industriales</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            texto de relleno 1
                        </i></li>
                        <li class="leading-tight"><i>
                            texto de relleno 2
                        </i></li>
                    </ul>
            </div>
    </swiper-slide>
    <swiper-slide class="flex justify-center items-center">
        <img class="min-h-[30vh] block w-full h-full object-cover" src="carousel-2.webp" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-garvey-azul bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Siempre ampliando los horizontes</h2>
                <p class="text-lg">Soluciones confiables para la industria</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            texto de relleno 3
                        </i></li>
                        <li class="leading-tight"><i>
                            texto de relleno 4
                        </i></li>
                    </ul>
            </div>
    </swiper-slide>
    <swiper-slide class="flex justify-center items-center">
        <img class="min-h-[30vh] block w-full h-full object-cover" src="carousel-3.webp" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Titulo de relleno</h2>
                <p class="text-lg">Subtitulo de relleno</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            texto de relleno 4
                        </i></li>
                        <li class="leading-tight"><i>
                            texto de relleno 5
                        </i></li>
                    </ul>
            </div>
    </swiper-slide>
    <swiper-slide class="flex justify-center items-center">
        <img class="min-h-[30vh] block w-full h-full object-cover" src="carousel-4.webp" alt="slider">
            <div class="absolute inset-0 flex flex-col justify-center items-center text-white bg-black bg-opacity-50">
                <h2 class="text-2xl font-bold justify-center items-center">Titulo de relleno 2</h2>
                <p class="text-lg">Subtitulo de relleno 2</p>
                    <ul class="list-disc list-inside mb-8">
                        <li class="leading-tight"><i>
                            texto de relleno 6
                        </i></li>
                        <li class="leading-tight"><i>
                            texto de relleno 7
                        </i></li>
                    </ul>
            </div>
    </swiper-slide>
    <div class="autoplay-progress" slot="container-end">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </swiper-container>