<!-- aqui va el carrousel -->
<div class="relative w-full overflow-hidden">
    <div class="flex transition-transform duration-500" [ngStyle]="{'transform': 'translateX(-' + (currentSlide * 100) + '%)'}">
      <div *ngFor="let slide of slides" class="min-w-full relative">
        <img class="w-full" [src]="slide.image" alt="Image">
        <div class="absolute inset-0 flex items-center justify-center">
          <div class="text-center text-black p-4 g-black bg-opacity-50">
            <p class="text-xl font-medium text-primary uppercase mb-4" [ngClass]="{'fade-in': fadeIn, 'fade-out': !fadeIn}">{{ slide.caption }}</p>
            <h1 class="text-custom leading-custom font-bold mb-12" [ngClass]="{'fade-in': fadeIn, 'fade-out': !fadeIn}">{{ slide.title }}</h1>
            <a href="#" class="bg-[#2E3191] text-white py-3 px-5 rounded ">Quiero saber más</a>
          </div>
        </div>
      </div>
    </div>
    <button (click)="prevSlide()" class="absolute top-1/2 left-5 transform -translate-y-1/2 bg-[#2E3191] text-white p-4 rounded-full opacity-50 md:opacity-100 hover:opacity-75 transition-opacity duration-300 z-10">
      &#10094; <!-- Icono de flecha izquierda -->
    </button>
    <button (click)="nextSlide()" class="absolute top-1/2 right-5 transform -translate-y-1/2 bg-[#2E3191] text-white p-4 rounded-full opacity-50 md:opacity-100 hover:opacity-75 transition-opacity duration-300 z-10">
      &#10095; <!-- Icono de flecha derecha -->
    </button>
  </div>
  <!-- aqui termina el carrousel -->
  <p>hola desde Home!</p>

  <!-- aqui va el Hero -->
  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">LIMPIEZA
          <br class="hidden lg:inline-block">Para el Hogar y la Industria
        </h1>
        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="limpieza.jpg">
      </div>
    </div>
</section>
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="aditivos.jpg">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">ADITIVOS
          <br class="hidden lg:inline-block">readymade gluten
        </h1>
        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">INDUSTRIA QUIMICA
          <br class="hidden lg:inline-block">Soluciones para la Industria
        </h1>
        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="industria.jpg">
      </div>
    </div>
</section>
<!-- aqui termina el Hero -->



<app-footer></app-footer>