@media (max-width: 768px) {
    .carousel-button {
      padding: 1rem; /* Aumentar el padding para que sean más grandes */
      font-size: 1.5rem; /* Aumentar el tamaño de la fuente */
    }
  
    .carousel-caption {
      padding-bottom: 4rem; /* Asegúrate de que haya suficiente espacio en la parte inferior */
    }
  }
  .carousel-button {
    z-index: 10; /* Asegúrate de que los botones estén por encima del texto */
  }