<!-- Feature Start -->
<section observeVisibility>
  <div class="py-12">
    <div class="container mx-auto px-4">
      <div class="flex flex-col lg:flex-row gap-10 items-center">
        <!-- Sección de Imagen y Video -->
        <div class="relative flex items-center justify-center h-full">
          <img ngSrc="feature.jpg" alt="Feature Image" class="w-full h-auto object-cover rounded-lg shadow-md max-h-full" width="600" height="400">
          <span class="absolute btn  transform -translate-y-1/2 bg-white bg-opacity-50 rounded-full pulse-animation" 
          style="width: 120px; height: 120px;">
            <button 
              mat-raised-button (click)="openVideo()" 
              class="absolute btn left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 rounded-full !bg-transparent !shadow-none border border-primary hover:bg-primary/20 transition" style="padding-top: 32px;">
              <mat-icon class="text-black text-3xl mt-3" style="height: 58px; width: 58px;">play_arrow</mat-icon>
            </button>
          </span> 
        </div>
        <!-- Sección de Texto -->
        <div>
          <p class="uppercase text-primary font-semibold mb-2">¿Por qué elegirnos?</p>
          <h1 class="text-4xl font-bold mb-4">¡Algunas razones por las que la gente nos elige!</h1>
          <p class="mb-6">
            A lo largo de más de dos décadas, hemos superado desafíos y seguimos fortaleciendo nuestra presencia en el mercado mediante la constante capacitación profesional y tecnológica.
          </p>
          <div class="space-y-4">
            <div *ngFor="let reason of reasons" class="flex items-start gap-4 animate-fadeIn">
              <div class="bg-[#2E3191] p-3 rounded-full shadow-lg">
                <mat-icon class="text-[#FEC906]">{{ reason.icon }}</mat-icon>
              </div>
              <div>
                <h4 class="font-bold text-lg">{{ reason.title }}</h4>
                <p class="text-sm">{{ reason.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature end -->
